.carContainer{
    width: 100%; 
    overflow: visible; 
    position: absolute;
    top: 75vh;
    z-index: -1;

}

.car{
    position: absolute; 
    right: -350px;
    text-align: center; 
    width: 100px;
    animation: CarSlide infinite;
        -webkit-animation: CarSlide infinite; 
        -moz-animation: CarSlide infinite;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 15s;
}
  
@keyframes CarSlide {from {position: absolute; right: 0px;} to {position: absolute; right: 2500px;}}
  
  
  